# MQTT
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC=prothesis/logs/parsed
MQTT_PARSED_TOPIC=prothesis/logs/parsed
MQTT_QOS=1
MQTT_CLIENT_ID=prothesis-logger
MQTT_TLS=false

# App
MIN_LOG_LEVEL=INFO